<%- include("partials/header"); -%>


<header>
  <div class="container">
    <div class="content">
      <div class="headings">
        <h2>You have successfully logged in to this website.<br></h2>
        <p>Welcome <%= user.username%>. You can now check your profile or click the button bellow to get to another side.  </p>
        <a href="/otherSide" class="btn">View Ohter Side</a>
      </div>
    </div>
  </div>
</header>


<%- include("partials/footer"); -%>