<%- include("partials/header"); -%>


<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo necessitatibus fugiat eos fuga explicabo 
        odio, quis laboriosam eligendi amet unde dolorum perferendis? Molestias sint labore voluptas ut natus
         laudantium nisi?</h2>
    <h3>By Test</h3>
    <a href="/smoothies" class="btn">View Test</a>
  </div>
</header>


<%- include("partials/footer"); -%>