<%- include("partials/header"); -%>


<header>
  <div class="container">
    <img src="/test.png" alt="">
    
    <div class="headings">
      <a href="/home" class="btn">Go To Home</a>
    </div>
  </div>

</header>


<%- include("partials/footer"); -%>