<%- include('partials/header'); -%>

<ul class="container">
  <h1>This is the other side. The dark side!</h1>
  <li class="content">
    <img src="/img/darthvader.png" alt="">
  </li>
</ul>
  

<%- include('partials/footer'); -%>