<%- include('partials/header'); -%>

<ul class="container">
  <li class="content">
    <img src="/test.png" alt="">
    <h4>Test</h4>
    <p>MOMMY MILKERS</p>
  </li>
</ul>
  

<%- include('partials/footer'); -%>