<%- include("partials/header"); -%>


<header>
  <div class="container">

  </div>
  <div class="headings">
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo necessitatibus fugiat eos fuga explicabo 
        odio, quis laboriosam eligendi amet unde dolorum perferendis? Molestias sint labore voluptas ut natus
         laudantium nisi?</h2>
</header>


<%- include("partials/footer"); -%>